@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

.chicleRegular {
  font-family: "Chicle", serif;
  font-style: normal;
  font-weight: 200;
}

@layer utilities {
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 2.5s linear infinite;
  }
}

@keyframes slowZoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}